.container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.box{
    min-height: 70px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 13px;
    margin: 30px 20px;
}

#object{
    text-align: center;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 20px;
    position: absolute;
    cursor: grab;
}

.invisible{
    display: none;
}
.visible{
    display: block;
}